    <footer>
        <div id="loadTimeInfo"></div>
        <p><sub><q>Больше практики - больше мастерства и понимания</q></sub></p>
        <p>Аш<sub>два</sub>О - просто выпей перед занятием</p>
        <nav class="menu">
            <ul>
                <li><a href="#">Обо мне</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </footer>