<header>
    <h1 class="maintitle">Гитары без запары</h1>
<!--    <h2 class="center">Добро пожаловать в мой ламповый блог!</h2>-->
    <div>
        <ul class="navbar">
            <li class="navbar-item"><a href="index">Главная</a></li>
            <li class="navbar-item"><a href="guitars">Гитары</a></li>
            <li class="navbar-item"><a href="comparison">Сравнение</a></li>
        </ul>
    </div>
</header>