    <head>
        <script src="time_script.js"></script>
        <meta charset="UTF-8">
        <meta name="keywords" content="гитара, гитары, струны, блог">
        <meta name="description" content="Самый ламповый и актуальный блог о гитарах.">
        <title>ГитарыБезПовАра</title>
        <link rel="stylesheet" href="styles.css" type="text/css"/>
    </head>