    <div>
        <ul class="navbar">
            <li class="navbar-item"><a href="index">Главная</a></li>
            <li class="navbar-item"><a href="guitars">Гитары</a></li>
            <li class="navbar-item"><a href="comparison">Сравнение</a></li>
        </ul>
    </div>