    <head>
        {{> head }}
    </head>
    <header>
        {{> title}}
        <h2 class="center">Guitars</h2>
        {{> nav}}
    </header>
    <main class="main">
        <section>
            <h3>Les Paul</h3>
            <aside><p class="subtitle">Цена на сегодняшний день - 110 000 рублей</p></aside>
            <p><img src="les.jpg" width="250" height="211"></p>
            <article>Самый изящный звук из всех, на перегрузе выдает небольшие помехи, но чистый звук... о Боже.</article>
        </section>
        <section>
            <h3>SG 360</h3>
            <aside><p class="subtitle">Цена на сегодняшний день - 86 000 рублей</p></aside>
            <p><img src="sg.jpeg" width="85" height="211"></p>
            <article>Одна из моих любимых моделей для игры с перегрузом. Ничего лишнего, только металл.</article>
        </section>
        <section>
            <h3>ESP LTD</h3>
            <aside><p class="subtitle">Цена на сегодняшний день - 110 000 рублей</p></aside>
            <p><img src="esp.jpg" width="200" height="211"></p>
            <article>Раритет, станет отличным экземпляром в коллекции у любого!</article>
        </section>
        <section>
            <h3>Yamaha c40</h3>
            <aside><p class="subtitle">Цена на сегодняшний день - 86 000 рублей</p></aside>
            <p><img src="c40.jpg" width="250" height="211"></p>
            <article>Идеально, чтобы начать играть на гитаре.</article>
        </section>
    </main>
    <footer>
        {{> footer }}
    </footer>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="slider.js"></script>