    <head>
        {{> head }}
    </head>
    <header>
        {{> title}}
        <h2 class="center">Добро пожаловать в магазин с самыми редкими гитарами мира!</h2>
        {{> nav}}
    </header>
    <main class="main">
        <div class="text">Всем привет! На этом сайте вы можете приобрести редкие гитары(подписные, лимитированные), а также познакомиться с моим видением музыкального мира, узнать, какие гитары звучат хорошо для металла, какие идеальны для инди, а какие превосходно вписываются в рок.</div>
    </main>
    <footer>
        {{> footer }}
    </footer>