    <head>
        {{> head }}
    </head>
    <header>
        {{> title}}
        <h2 class="center">Добро пожаловать в мой ламповый блог!</h2>
        {{> nav}}
    </header>
    <main class="main">
        <div class="text">Всем привет! На этом сайте вы можете познакомиться с моим видением гитарного мира, узнать, какие гитары звучат хорошо для метала, какие идеальны для инди, а какие превосходно вписываются в рок.</div>
    </main>
    <footer>
        {{> footer }}
    </footer>